body {
    background-image: url(https://i.pinimg.com/originals/b1/bd/c1/b1bdc1ae539dcbd1a7c33cef3e5f2d9a.gif);
    padding: 20px;
}

.main {
    background-color: rgba(243, 240, 231, 0.945);
    color: rgb(24, 24, 151);
    font-family: Poppins, sans-serif;
}

.description {
    width: 600px;
}

.left {
    width: 600px;
    float: left;
    background-color: rgba(243, 240, 231, 0.945);
}

.right {
    width: 600px;
    float: left;
    background-color: rgba(243, 240, 231, 0.945);
    margin-left: 30px;
}