body {
    font-family: "DotGothic16";
    color: forestgreen;
    display: grid;
    background-color: black;
}

nav {
    position: fixed;
    top: 0;
    font-family: Silkscreen;
    background-color: black;
    width: 100vw;
    height: 26px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.9);
}

.header {
    padding-top: 20%;
    margin-bottom: 20%;
}

h1, h2 {
    text-align: center;
}

div {
    padding-bottom: 3%;
}

.first-impression {
    display: grid;
    grid-template-columns: 60% 30%;
}

.first-impression p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -300px;
    text-align: center;
}

.me {
    display: block;
    width: 300px;
    border: 2px forestgreen solid;
    margin-left: auto;
    margin-right: auto;
}

#about {
    margin-left: 5%;
}

#about .columns {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "section1 section2" "bullet1 bullet2";
}

.section1 {
    grid-area: section1;
}

.section2 {
    grid-area: section2;
}

.bullet1 {
    grid-area: bullet1;
}

.bullet2 {
    grid-area: bullet2;
}

#projects {
    margin-left: auto;
    margin-right: auto;
}

#projects img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    font-family: "Silkscreen";
    margin-top: -10%;
    margin-left: 2%;
}

a {
    color: white;
}

#contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 1%;
}

.social img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.social p {
    text-align: center;
}

#twitter {
    margin-top: 45px;
}