body {
    font-family: "DotGothic16";
    color: forestgreen;
    display: grid;
}

img {
    width: 100px;
    border: 2px forestgreen solid;
}

.about {
    display: grid;
}

form {
    font-family: "Silkscreen";
}